<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" />
    <title> | </title>
    <meta name="description" content="" />
    

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/css/admonitions.css">
</head>


<header>
  <h1>#Analysis</h1>
  <p>articles tagged as "Analysis"</p>
  <nav>
  <a href="/" title="">Home</a><a href="/blog" title="">Blog</a><a href="/tags" title="">Tags</a><a href="/about" title="">About</a><a href="/contact" title="">Contact</a><a href="/blogroll" title="">Blogroll</a>
</nav>
</header>

<main>
    <section>
        <ul>
            
                <li>
                    <a href="/linux-users-like-lovely-logos/">Linux Users Like Lovely Logos</a> (2021-03-26)
                </li>
            
        </ul>
    </section>
</main>

<footer>
<a href="/rss.xml">RSS</a> / <a rel="me" href="https://fosstodon.org/@bbbhltz">Fosstodon</a> / <a href="https://codeberg.org/bbbhltz/pages">Source</a><br>

<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a><br>

<a href="https://512kb.club"><img src="https://512kb.club/assets/images/green-team.svg" style="height:1.5em;"></a><br>

Surf the <a href="https://fediring.net/">Fediring</a>: <a href="https://fediring.net/previous?host=bbbhltz.codeberg.page">Previous</a> /  <a href="https://fediring.net/next?host=bbbhltz.codeberg.page">Next</a><p>

<a href="https://codeberg.org/bbbhltz" rel="me"></a>
<a href="https://framagit.org/bbbhltz" rel="me"></a>
<a href="https://github.com/pasdechance" rel="me"></a>

</footer>

